$component-page-footer-background-color: $theme-base !default;

$component-page-footer-navigation-background-color: $theme-base !default;
$component-page-footer-navigation-padding-bottom: $space-l !default;
$component-page-footer-navigation-padding-top: $space-l !default;

$component-page-footer-secondary-content-background-color: $theme-base !default;
$component-page-footer-secondary-content-padding-bottom: $space-l !default;
$component-page-footer-secondary-content-padding-top: $space-l !default;

$component-page-footer-copyright-text-color: $theme-text-inverse !default;
$component-page-footer-border-color: $theme-base-2!default;
$component-page-footer-border-size: $space-xxs !default;
